/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414; /* Dark background */
    color: #ffffff; /* Light text */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px; /* Limit width for content */
    margin: 0 auto; /* Center container */
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative; /* Needed for absolute positioning of results */
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #4CAF50; /* Green color for Mainboxd */
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Space between logo and nav */
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-right: 15px; /* Space between nav items */
}

.nav-links li a {
    text-decoration: none;
    color: #aaaaaa; /* Lighter color for nav links */
    font-size: 16px;
}

.nav-links li a:hover {
    color: #ffffff; /* White color on hover */
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Align search bar to the right */
    position: relative; /* Needed for absolute positioning of results */
}

#search-bar {
    width: 500px; /* Adjust width as needed */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px; /* Rounded left corner */
    background-color: #333;
    color: #fff;
}

#results {
    position: absolute;
    top: 50px; /* Adjust to be below the search bar */
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 0 0 5px 5px; /* Rounded bottom corners */
    max-height: 300px; /* Limit height and allow scroll */
    overflow-y: auto;
    z-index: 1000; /* Ensure it's above other elements */
}

.movie {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between items */
    padding: 10px;
    margin: 5px 0;
    background-color: #1e1e1e; /* Dark background for movie item */
    border-radius: 8px;
    border: 1px solid #333;
    text-decoration: none;
}

.movie img {
    width: 50px;
    height: 75px;
    border-radius: 5px;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    flex: 1; /* Take up remaining space */
}

.movie-year {
    font-size: 14px;
    color: #aaaaaa;
    text-align: right;
    text-decoration: none;
    margin-left: auto; /* Align to the right */
}

a {
    text-decoration: none;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.movie-popular {
    flex: 1 1 calc(20% - 20px);
    box-sizing: border-box;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
}
.movie-popular img {
    width: 100%;
    border-radius: 8px;
}
.movie-popular-title {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.movie-container {
    display: flex;
    background-color: #3c2e2e;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

.movie-container ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(80, 80, 80, 0.1); /* Add transparency here */
    z-index: -1;
    border-radius: 10px;
}

.movie-poster img {
    width: 300px;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.movie-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
}

.movie-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-details p {
    margin: 5px 0;
}

.rating {
    display: flex;
    align-items: center;
}

.score {
    background-color: #4caf50;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 10px;
}

.synopsis {
    margin-top: 20px;
}

.synopsis h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.credits p {
    margin: 5px 0;
}

.top-right-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.top-right-icons button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.movie-tagline {
    font-style: italic;
    color: #ccc;
    margin-bottom: 10px;
    opacity: 0.7;
}

#imdb-link {
    position: absolute;
    z-index: 3;
}
#imdb-link img {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

#trailer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    left: 10%;
    right: 10%;
    position: relative;
    width: 80%;
    height: 0;
    padding-top: 40%; /* Adjust this value to maintain the aspect ratio */
}

#trailer-container iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
}