{% extends "layout.html" %}

{% block title %}MovieBoxd{% endblock %}

{% block main %}
<div class="container" style="align-content: center;">
<h1 style="margin-bottom: 20px;">Popular</h1>
<div class="movie-grid">
    {% for movie in movies %}
    <a class="movie-popular" href="/movie/{{movie.id}}">
        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
        <div class="movie-popular-title">{{ movie.title }}</div>
    </a>
    {% endfor %}
</div>
</div>
{% endblock %}