<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/">MovieBoxd</a>
            </div>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="/watchlist">Watchlist</a></li>
                    <li><a href="/watched">Watched</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <div class="search-bar">
                <input type="text" id="search-bar" placeholder="Search for a movie...">
                <div id="results"></div>
            </div>
        </header>
    </div>
    <main>{% block main %}{% endblock %}</main>
    <script src="../static/scripts.js"></script>

</body></html>
