{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block main %}
        <div id="movie-container" class="movie-container">
            <div class="top-right-icons">
                {% if watched %}
                <button id="watched-button" title="Watched">Watched</button>
                {% else %}
                <button id="watched-button" title="Mark Watched">Mark Watched</button>
                {% endif %}
                <p style="display:inline" style="padding-bottom: 10px;">•</p>
                {% if watchlist %}
                <button id="watchlist-button" title="Added to Watchlist">✓</button>
                {% else %}
                <button id="watchlist-button" title="Add to Watchlist">+</button>
                {% endif %}
            </div>
            <div class="movie-poster">
                <img id="movie-poster" src="" alt="Movie Poster">
            </div>
            <div class="movie-details">
                <h1 id="movie-title"></h1>
                <p id="movie-info"></p>
                <div class="rating">
                    <div id="movie-score" class="score"></div>
                    <p>TMDB Rating</p>
                </div>  
                <div>
                    <a id="imdb-link" href="" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" alt="IMDb" id="imdb-logo">
                    </a>
                </div>
                <div class="synopsis">
                    <div id="movie-tagline" class="movie-tagline"></div>
                    <h2>Overview</h2>
                    <p id="movie-synopsis"></p>
                </div>
                <div class="credits" id="credits-container"></div>   
            </div>
        </div>
        <div style="margin-left: 10%;"><h1>Trailer</h1></div>
        <div class="trailer-container" id="trailer-container"></div>


        
        <script>document.addEventListener("DOMContentLoaded", async () => {
            const movieId = window.location.pathname.split("/").pop();
            try {
                const response = await fetch(`/api?q=${movieId}`);
                const data = await response.json();
        
                let genre = data.genres.map(genre => genre.name).join(', ');
        
                document.getElementById("movie-poster").src = data.poster_path ? `https://image.tmdb.org/t/p/w500${data.poster_path}` : 'https://via.placeholder.com/150x200';
                document.getElementById("movie-title").textContent = `${data.original_title || "Untitled"} (${data.release_date.split('-')[0]})`;
                document.getElementById("movie-info").textContent = `${data.release_date} • ${genre} • ${data.runtime}m`;
                document.getElementById("movie-score").textContent = `${(data.vote_average * 10).toFixed(0)}%`;
                document.getElementById("movie-synopsis").textContent = data.overview;
                document.getElementById("movie-tagline").textContent = data.tagline;
                document.getElementsByTagName("title")[0].innerHTML = `${data.original_title || "Untitled"} (${data.release_date.split('-')[0]})`;
                document.getElementById("imdb-link").href = `https://www.imdb.com/title/${data.imdb_id}`;
                if (data.backdrop_path){
                    const movieContainer = document.getElementById("movie-container");
                    movieContainer.style.backgroundImage = `url('https://image.tmdb.org/t/p/w1280${data.backdrop_path}')`;
                    movieContainer.style.backgroundSize = 'cover';
                    movieContainer.style.backgroundPosition = 'center';
                }
                
                for (let i = 0; i < data.videos.results.length; i++) {
                    if (data.videos.results[i].type === 'Trailer' && data.videos.results[i].site === 'YouTube') {
                        const trailerContainer = document.getElementById("trailer-container");
                        const iframe = document.createElement("iframe");
                        iframe.src = `https://www.youtube.com/embed/${data.videos.results[i].key}`;
                        iframe.allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture";
                        iframe.allowFullscreen = true;
                        trailerContainer.appendChild(iframe);
                        break;
                    }
                }
        
                document.getElementById("watchlist-button").addEventListener("click", async () => {
                    const response = await fetch(`/change/${movieId}/watchlist`);
                    const status = await response.text();
                    if (status === 'Added to watchlist'){
                        document.getElementById("watchlist-button").textContent = "✓";
                        document.getElementById("watchlist-button").title = "Added to Watchlist";
                    }
                    else if (status === 'Deleted'){
                        document.getElementById("watchlist-button").textContent = "+";
                        document.getElementById("watchlist-button").title = "Add to Watchlist";
                    }
                });
        
                document.getElementById("watched-button").addEventListener("click", async () => {
                    const response = await fetch(`/change/${movieId}/watched`);
                    const status = await response.text();
                    if (status === 'Added to watched'){
                        document.getElementById("watched-button").textContent = "Watched"
                        document.getElementById("watched-button").title = "Watched";
                    }
                    else if (status === 'Deleted'){
                        document.getElementById("watched-button").textContent = "Mark Watched"
                        document.getElementById("watched-button").title = "Mark Watched";
                    }
                    else if (status === 'Watched from watchlist'){
                        document.getElementById("watched-button").textContent = "Watched"
                        document.getElementById("watched-button").title = "Watched";
                        document.getElementById("watchlist-button").textContent = "+";
                        document.getElementById("watchlist-button").title = "Add to Watchlist";
                    }
                });
            } catch (error) {
                console.error('Error fetching movie data:', error);
            }
        });
        
        </script>
{% endblock %}
